*{
    font-family: sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 13vh;
    width: 100%;
    background-color: #fff;
}

.logo{
    width: 110px;
}

.nav-items ul{
    display: flex;
    font-size: 18px;
    list-style-type: none;
    margin-right: 50px ;
}

.nav-items ul li{
    padding: 10px;
    margin: 10px;
}

.search{
    padding: 10px;
    /* gap: 3; */
    margin-left: 0;
    /* cursor: pointer; */
}


.res-card{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 5px;
    height: 53vh;
    width: 180px;
    border: "1px solid black ";
    border-radius: 10px;
    gap: 2;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    font-size: 13px;
    gap: 5;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.res-logo{
    width: 100%;
    height: 25vh;
    border-radius: 10px;
}

.login{
    height: 3.5vh;
    width: 3.5vw;
    margin-top: 15px;
    cursor: pointer;
    margin-right: 5px;
    cursor: pointer;
}

.body-input{
    width: "30vw";
    height: 3.8vh;
    /* border: "1px solid #f0f0f0"; */
    border-radius: 5px;
    margin-right: 10px;
    background-color: #f0f0f0;
    /* cursor: pointer; */
    color: #000;
}

.body-input-search{
    /* height: 4.3vh; */
    width: 6vw;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 12px;
}

.restarant-text{
    gap: 3;
    font-family: sans-serif;
}